[req]
                distinguished_name = req_distinguished_name
                req_extensions = v3_req
                prompt = no
                [req_distinguished_name]
                C = US
                ST = DC
                L = Washington
                O = {{COMPANY_NAME}}
                OU = {{Department_Name}}
                CN = {{domain_name}}
                [v3_req]
                keyUsage = keyEncipherment, dataEncipherment
                extendedKeyUsage = serverAuth
                subjectAltName = @alt_names
                [alt_names]
                DNS.1 = {{domain_name1}}
                DNS.2 = {{domain_name2}}
                DNS.3 = {{domain_name3}}
                DNS.4 = {{domain_name4}}
                DNS.5 = {{domain_name5}}
 
